/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0; 
  color: #333; 
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pacifico', cursive; 
  color: #0808ce; 
}


.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-gap: 1px;
  margin: 20px auto;
  width: max-content;
  background-color: #fff; 
  padding: 10px;
  border: 2px solid rgb(8, 8, 206); 
  border-radius: 10px;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(8, 8, 206); 
  background-color: #fff; 
  color: rgb(8, 8, 206); 
}

.sudoku-cell:nth-child(3n) {
  border-right: 2px solid rgb(8, 8, 206); 
}

.sudoku-row:nth-child(3n) .sudoku-cell {
  border-bottom: 2px solid rgb(8, 8, 206); 
}


.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.sudoku-button {
  background-color: #0808ce; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sudoku-button:hover {
  background-color: #0707b3; 
  transform: scale(1.05); 
}

.sudoku-cell {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sudoku-cell:focus {
  background-color: #f0f8ff; 
  color: #000; 
}


.sudoku-button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sudoku-button:hover {
  background-color: #7b7b92; 
  transform: scale(1.05); 
}
