.footer {
    background-color: lightblue;
    padding: 10px 20px;
    color: rgb(8, 8, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.left {
    font-size: 14px;
}

.right {
    font-size: 14px;
}