main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
}

.sudoku-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.sudoku-button {
    background-color: #ADD8E6; 
    color: rgb(8, 8, 206); 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.sudoku-button:hover {
    opacity: 0.8;
}
