.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.sudoku-button {
    background-color: #ADD8E6; /* Light blue background */
    color: rgb(8, 8, 206); /* Dark blue text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px; /* Add horizontal space between buttons */
}

.sudoku-button:hover {
    opacity: 0.8;
}
