/* src/components/SudokuGrid.css */
.sudoku-page {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .sudoku-container {
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    background-color: #fff;
    border: 1px solid rgb(8, 8, 206);
    border-radius: 5px;
  }
  
  .sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 0;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .sudoku-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid rgb(8,8,206);
    background-color: #fff;
    color: rgb(8, 8, 206);
    box-sizing: border-box;
  }
  
  .sudoku-cell:nth-child(3n) {
    border-right: 2px solid rgb(8, 8, 206);
  }
  
  .sudoku-cell:nth-child(9n+1) {
    border-left: 2px solid rgb(8, 8, 206);
  }
  
  .sudoku-cell:nth-child(n+19):nth-child(-n+27),
  .sudoku-cell:nth-child(n+46):nth-child(-n+54),
  .sudoku-cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 2px solid rgb(8, 8, 206);
  }
  